*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: #5d4954;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 68%;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links li{
    list-style: none;
    align-items: center;
}

.nav-links li:hover{
    transform: scale(1.2);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

body{
    width: 100%;
    height: 100%; 
}

main{
    margin-top: 8vh;
    width: 100%;
    min-height: 1000px;
    background: #EDE574;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer{
    position: static;
    background-color: #5d4954;
    bottom: 0;
    width: 100%;
    
}

.right-box{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 5px;
    left: 0;
} 

.mail{
    text-transform: lowercase;
}

.right-box{
    display: flex;
    flex-direction: row;
}

.right-box .mapouter{
    margin-top: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    background-color: #73e7ff;
    align-items: center;
}

#myBtn i{
    font-size: 20px;
}

#myBtn:hover {
    background-color: #40c1db;
}

#page{
    background: #556270; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #ff6b6b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #ff6b6b);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 95%;
    transition: background-size 0.25s ease-in;
}

.btnlist{
    justify-content: space-around;
    display: none;
    cursor: pointer;
    align-items: center;
    min-height: 4vh;
}

.btnlist span{
    height: 8vh;
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.nav-lists{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}

.nav-lists li{
      list-style: none;
}

.nav-lists a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.main-nav{
    width: 100%;
    min-height: 8vh;
    background-color: #8c8588;
    position: fixed;
}
.nav-lists-main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-height: 8vh;
    width: 100%;
    align-items: center;
    
}

.nav-lists-main li{
    list-style: none;
}

.nav-lists-main a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(226, 226, 226);
}

.main-container{
    margin-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0;
    min-height: 500vh;
}

.aside{
    width: 10%;
}

.main-content{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main-intro-img img{
    border-radius: 2%;
}

.container-intro{
    min-height: 30vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container{
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .title {
    margin-top: 8vh;
    text-transform: uppercase;
    color: #00360a;
}

.container .title h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;

  }

.grid-item {
    text-align: center;
    overflow: hidden;
}

.grid-item img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
    margin: auto;
    display: block;
    max-height: 80vh;
    max-width: 90%;
}

 .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,

.close:focus {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.ImgThumbnail{
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #606c88, #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #606c88, #3f4c6b);
  padding: 1px;
  object-fit: cover;
  border-radius: 2%;
}

@media screen and (max-width: 510px){
    body{
        overflow-x: hidden;
    }

    nav{
        width: 100%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .right-box{
        font-size: 17px;
        letter-spacing: 1px;
    }

    .right-box .content{
        margin-top: 3px;
    }

    .right-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .nav-lists{
        position: absolute;
        left: 0px;
        height: 50vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-lists li {
        opacity: 0;
    }

    .btnlist{
        display: block;
        margin-top: 8px;
    }

    .logo{
        
        letter-spacing: 0px;
        font-size: 15px;
    }
    
    .btnlist span{
        font-size: 15px;
    }

    .main-nav{
        display: none;
       
    }

    .aside{
        width: 2%;
    }
    
    .main-content{
        width: 96%;
    }

    .main-container{
        margin-top: 1vh;
    }

    .container-intro{
        flex-direction: column;
    }

    #img-main-intro{
        object-fit: cover;
        width: 100%;
       
    }
    
    .main-intro-text{
        
        width: 100%;
        align-items: center;
    }

    .intro-text{
        font-size: 25px;
        color: #00360a;
    }

    .grid-container{
        grid-template-columns: auto auto ;
    }

    .container .title h2{
        font-size: 30px;
    }

}

@media screen and (min-width: 901px) and (max-width: 1400px){
    .nav-links{
        width: 80%;
    }
    .nav-links a{
        font-size: 18px;
    }
    h4{
        font-size: 24px;
    }
    .intro .img-logo{
        width: 100%;
    }
    .intro .intro-text{
        font-size: 35px;
        padding-left: 10px;
    }
    .logo{
        font-size: 35px;
    }
    .right-box{
        font-size: 30px;
    }
    .modalImage{
        width: auto;
    }

    .right-box .container-box .content{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right-box .container-box .phone{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right-box h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-intro-img{
        width: 60%;
    }
    
    #img-main-intro{
        object-fit: cover;
        width: 100%;
       
    }
    
    .main-intro-text{
        margin-left: 20px;
        width: 40%;
    }

    .intro-text{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 35px;
        color: #00360a;
    }

    .grid-item img{
        max-height: 200px;
    }

    .grid-item img:hover{
        transform: scale(1.1);
    }

}

@media screen and (min-width:510px)  and (max-width: 900px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 84vh;
        top: 8vh;
        bottom: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .right-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-box .container-box .content .text{
        font-size: 25px;
    }

    .nav-lists{
        position: absolute;
        left: 0px;
        height: 50vh;
        top: 8vh;
        bottom: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-lists li {
        opacity: 0;
    }

    .btnlist{
        display: block;
    }

    .main-nav{
        display: none;
    }

    .aside{
        width: 2%;
    }
    
    .main-content{
        width: 96%;
    }

    .main-container{
        margin-top: 1vh;
    }

    .container-intro{
        flex-direction: column;
    }

    #img-main-intro{
        object-fit: cover;
        width: 100%;
       
    }
    
    .main-intro-text{
        margin-left: 20px;
        width: 90%;
        align-items: center;
    }

    .intro-text{
        font-size: 40px;
        color: #00360a;
    }

    .grid-container{
        grid-template-columns: auto auto auto ;
    }

}

@media screen and (min-width:1400px){
    .nav-links{
        width: 80%;
    }
    .nav-links a{
        font-size: 18px;
    }
    .right-box{
        font-size: 40px;
    }
    .nav-links a {
        font-size: 30px;
    }
    
    .main-intro-img{
        width: 50%;
    }
    
    #img-main-intro{
        object-fit: cover;
        width: 100%;
       
    }
    
    .main-intro-text{
        margin-left: 20px;
        width: 50%;
    }

    .intro-text{
        margin-left: 10px;
        margin-top: 30px;
        font-size: 50px;
        color: #00360a;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.navL-active{
    transform: translateX(0%);
}

@keyframes navListFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }

}