*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: #5d4954;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 68%;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links li{
    list-style: none;
    align-items: center;
}

.nav-links li:hover{
    transform: scale(1.2);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

body{
    width: 100%;
    height: 100%;
    
}

main{
    margin-top: 8vh;
    width: 100%;
    min-height: 1000px;
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  
    background: linear-gradient(to right, #B0DAB9, #DAD299); 
    overflow: hidden;
}

footer{
    position: static;
    background-color: #5d4954;
    bottom: 0;
    width: 100%;
    
}

.right-box{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 5px;
    left: 0;
} 

.mail{
    text-transform: lowercase;
}

.right-box{
    display: flex;
    flex-direction: row;
}

.right-box .mapouter{
    margin-top: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    background-color: #73e7ff;
    align-items: center;
}

#myBtn i{
    font-size: 20px;
}

#myBtn:hover {
    background-color: #40c1db;
}

#page{
    background: #556270; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #ff6b6b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #ff6b6b);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 95%;
    transition: background-size 0.25s ease-in;
}

.btnlist{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    display: none;
    cursor: pointer;
    align-items: center;
    height: 8vh;
    top: 0;
}

.btnlist span{
    top: 0;
}

.nav-lists{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}

.nav-lists li{
      list-style: none;
}

.nav-lists a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 510px){
    body{
        overflow-x: hidden;
    }

    nav{
        width: 100%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .right-box{
        font-size: 17px;
        letter-spacing: 1px;
    }

    .right-box .content{
        margin-top: 3px;
    }

    .right-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .nav-lists{
        position: absolute;
        left: 0px;
        height: 50vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-lists li {
        opacity: 0;
    }

    .btnlist{
        display: block;
    }

    .btnlist i{
        margin-left: 40px;
        font-size: large;
    }

    .logo{
        
        letter-spacing: 0px;
        font-size: 15px;
    }
    
    .btnlist span{
        font-size: 15px;
    }

    .nav-links a{
        font-size: 10px;
    }
    .nav-lists a{
        font-size: 10px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1400px){
    .nav-links{
        width: 80%;
    }
    .nav-links a{
        font-size: 18px;
    }
    h4{
        font-size: 24px;
    }
    .intro .img-logo{
        width: 100%;
    }
    .intro .intro-text{
        font-size: 35px;
        padding-left: 10px;
    }
    .logo{
        font-size: 35px;
    }
    .right-box{
        font-size: 30px;
    }
    .modalImage{
        margin-top: 0;
        width: 65%;
        height: auto;
    }

    .right-box .container-box .content{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right-box .container-box .phone{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:510px)  and (max-width: 900px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 84vh;
        top: 8vh;
        bottom: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .right-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-box .container-box .content .text{
        font-size: 25px;
    }

    .nav-lists{
        position: absolute;
        left: 0px;
        height: 50vh;
        top: 8vh;
        bottom: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }

    .nav-lists li {
        opacity: 0;
    }

    .btnlist{
        display: block;
    }
    
    .btnlist i{
        top: -10px;
        margin-left: 45px;
        font-size: large;
    }

    
}

@media screen and (min-width:1400px){
    .nav-links{
        width: 80%;
    }

    .nav-links a{
        font-size: 18px;
    }

    .right-box{
        font-size: 40px;
    }

    .nav-links a {
        font-size: 30px;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.navL-active{
    transform: translateX(0%);
}

@keyframes navListFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }

}